@import "../styles/left";
@import "../styles/overview";
.profile {
  position: absolute;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0D1117;
  width: 100%;
  nav {
    margin: 25px 0 0 0;
    display: flex;
    gap: 30px;
    .profileIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      border-radius: 4px;
      cursor: pointer;
      .a{
        border-bottom:2.2px solid #BC6552;
      }
      &:hover{
        background-color: #3f3c3c;
      
      }
      h2{
        font-size: 15px;
        font-weight: 700;
        margin-left: 2px;
        transition-delay:0.04s ;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        span{
          display: inline-block;
          padding: 3px 4px;
          background-color: #d3cece63;
          color: rgb(184, 189, 193);
          border-radius: 50%;
          font-size: 13px;
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
  .lineFour{
    @include lines();
    margin-top: 10px;
    margin-bottom: 0;
  }
  .sectionCenter{
    display: flex;
    gap: 30px;
justify-content: center;
  }
}
.graf{
  display: flex;
  align-items: center;
}